#home .welcome {
  background-image: url('/images/background.jpg');
  background-size: cover;
  min-height:10rem;
  padding:10rem;
}

.dashboard {
 color: #eeeeee;
}

.dashboard .metric {
  font-size:3rem;
  font-weight: 700;
}

.dashboard .column.projects {
  background-color:#50e3c2;
}
.dashboard .column.events {
  background-color:#e43f4a;
}
.dashboard .column.collaboration {
  background-color:#4a90e2;
}

.dashboard .column.members {
  background-color:#9013fe;
}


.header-logo {
  max-width:5rem;
}

.code4hk-header {
    font-size: 2.827rem;
}

.code4hk-tagline {
    font-size:1.414rem;
}
.community-logo {
  max-width:20rem;
}

.code4hk-4 {
  color:#de6061
}

#home .stripe {
 background-color: #d8d8d8;
 padding: 10em 0px;
 border-radius: 0em;
 margin: 0em;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
